./logs/
*.png

*.pt

*.jpg
*.mp4
🔹 Python 관련
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# 🔹 모델 체크포인트
*.pt
models/
!models/README.md  # 만약 모델 설명을 위한 문서가 있다면 예외 처리

# 🔹 데이터
data/crops
data/met_images/
data/faiss/
data/uploaed_videos/
data/faiss/met_text.index
data/faiss/met_text_meta.json
data/faiss/met_structured_with_objects.json
#*.index
#*.json  # 만약 image_data.json이나 FAISS 관련 메타가 자주 변한다면

# 🔹 IDE 설정
.vscode/
*.swp
*.swo

# 🔹 기타
.env
.DS_Store
/cropped_images/
__pycache__/
*.py[cod]
.vscode/
.idea/
.env
scripts/data/
/temp/*